.w-full.max-w-4xl.bg-white.p-8.rounded-lg.shadow-lg{ class: "shadow-blue-500/50 hover:shadow-green-500/40"}
  .relative
    .absolute.top-0.right-0.-mt-6.-mr-6
      %a( href="#{edit_manage_exam_active_path(@exam.slug)}" class="font-black text-green-400 hover:text-red-500 hover:underline hover:decoration-wavy text-lg" )
        %span.uppercase ubah
        %i.ri-edit-line

  %p.text-2xl.text-center
    %span #{@exam.name}
  %p.text-sm.text-center.text-gray-500.font-bold.mb-6
    %span.uppercase.italic nama ujian
  
  %table.table.mb-8
    %tbody 
      %tr 
        %td( class="w-[200px]") Nama Ujian Singkat 
        %td #{@exam.short_name}
      %tr 
        %td Mulai daftar ujian
        %td #{I18n.l(@exam.start_register, format: :default)}
      %tr 
        %td Status ujian
        %td #{@exam.status_label}
      %tr
        %td( colspan="2")  Deskripsi Ujian
      %tr
        %td( colspan="2" ) 
          - if !@exam.descriptions.empty?
            .whitespace-pre-line
              #{@exam.descriptions}
          - else
            .divider.italic.uppercase.text-sm.text-gray-500.font-bold kosong
      %tr 
        %td Jumlah jadwal ujian
        %td
          %span #{@exam.exam_schedules.count}
          %span Jadwal
      %tr 
        %td Total kapasitas peserta
        %td
          %span #{@exam.exam_schedules.sum(:max_participants)}
          %span Personel
      %tr
        %td( colspan="2") Catatan
      %tr
        %td( colspan="2" ) 
          - if !@exam.notes.empty?
            .whitespace-pre-line
              #{@exam.notes}
          - else
            .divider.italic.uppercase.text-sm.text-gray-500.font-bold kosong