= form_with(model: @score, url: @url, method: @method, local: true) do |form|
  .bg-white.p-6.rounded-xl( x-data="scoreForm()" )
    .mb-4.flex.justify-end 
      %p.p-2.bg-red-500.text-white.font-bold.text-sm Kode: #{@score.code[0, 3]}-#{@score.code[-4, 4]}
    %table( class="w-full text-left border border-separate rounded border-slate-200" cellspacing="0" )
      %thead
        %tr( class="transition-colors duration-300 hover:bg-slate-50" )
          %td( class="h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 uppercase text-center w-[20px]" ) No
          %td( class="h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 uppercase text-center" ) Materi Peserta
          %td( class="h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 uppercase text-center w-[60px]" ) jumlah teknik
          %td( class="h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 uppercase text-center" ) nilai
          %td( class="h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 uppercase text-center" ) 
            keterangan 
            %br
            .text-xs (maks. 200 karakter)
      
      - @categories.each do |category|
        %tbody
          %tr
            %th( scope="col" class="h-12 p-2 text-center uppercase text-sm stroke-slate-700 text-slate-700 bg-slate-100 rounded-t font-bold" colspan="5" )= category[:name]
            - category[:content].each_with_index do |item, index|
              %tr{ class: "transition-colors duration-300 hover:bg-slate-50" }
                %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 text-center w-[20px]" }= index + 1
                %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 w-[250px]" }= item[:subject]
                %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 w-[60px] text-center" }= item[:amount]
                %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 text-center w-[60px]" }
                  %input.input.input-bordered.text-center.p-2{ class: "w-[60px]", inputmode: "numeric", oninput: "this.value = this.value.replace(/[^0-9]/g, '');", maxlength: "3", value: "", "x-model": "score['" + item[:code] + "']", "@change": "calculateScore()" }
                %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-150 stroke-slate-500 text-slate-500 text-center w-[150px]" }
                  %textarea.textarea.textarea-bordered.p-2{ class: "w-[150px]", rows: "2", maxlength: "200", "x-model": "remarks['" + item[:code] + "']" }= ""
        
      %tfoot
        %th( scope="col" class="h-12 p-2 text-center uppercase text-sm stroke-slate-700 text-slate-700 bg-slate-100 rounded-t font-bold" colspan="5" ) 
        %tr{ class: "transition-colors duration-300 hover:bg-slate-50" }
          %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500", colspan: "3" } Jumlah Nilai
          %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500", colspan: "2", "x-text": "totalScore"}
        %tr{ class: "transition-colors duration-300 hover:bg-slate-50" }
          %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500", colspan: "3" } Rata-rata Nilai
          %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500", colspan: "2","x-text": "averageScore" }
        %tr{ class: "transition-colors duration-300 hover:bg-slate-50" }
          %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500", colspan: "3" }
            %span.italic Grade
            Nilai
          %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500", colspan: "2","x-text": "gradeScore" }
        %tr{ class: "transition-colors duration-300 hover:bg-slate-50" }
          %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500", colspan: "3" } Status
          %td{ class: "h-12 p-2 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500", colspan: "2","x-text": "isPassed ? 'Lulus' : 'Tidak Lulus'" }
        %th( scope="col" class="h-12 p-2 text-center uppercase text-sm stroke-slate-700 text-slate-700 bg-slate-100 rounded-t font-bold" colspan="5" )
  
    = form.text_field :score_detail, "x-bind:value":"score"
      
    %btn.btn.btn-success.w-full.btn-lg.font-bold.uppercase.text-white.mt-6 simpan nilai
                  

:javascript
  function scoreForm() {
    return {
      scores: #{@scores.to_json},
      totalScore: 0,
      lists: 20,
      averageScore: 0,
      passingScore: 60,
      gradeScore: "",
      isPassed: false,
      score: {},
      remarks: {},
      init(){
        this.calculateScore()
      },

      calculateScore() {
        let total = 0;

        Object.keys(this.score).forEach(key =>
          total += parseInt(this.score[key])
        )

        this.totalScore = total;
        this.averageScore = (total/20).toFixed(2);
        this.isPassed = this.averageScore >= this.passingScore;
        if (this.averageScore >= 81 ) {
          this.gradeScore = "A"
        } else if (this.averageScore >= 61 ) {
          this.gradeScore = "B"
        } else if (this.averageScore >= 41 ) {
          this.gradeScore = "C"
        } else if (this.averageScore >= 21 ) {
          this.gradeScore = "D"
        } else if (this.averageScore >= 0.01 ) {
          this.gradeScore = "E"
        } else {
          this.gradeScore = "Masukkan Nilai"
        }
      }
    }
  }