<%= form_for(@user, url: user_password_reset_path, method: :post, id: "password_reset_form") do |f| %>
  <div>
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text text-slate-100">NRP/NIP</span>
      </div>
      <div class="relative">
        <span class="pointer-events-none absolute inset-y-0 left-3 flex items-center text-slate-400">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M12 2.25a5.25 5.25 0 00-2.675 9.777c-3.27.776-5.79 3.517-6.27 6.97a.75.75 0 00.744.878h16.402a.75.75 0 00.744-.879c-.48-3.452-3-6.193-6.27-6.969A5.25 5.25 0 0012 2.25z" clip-rule="evenodd" />
          </svg>
        </span>
        <%= f.text_field :identity,
            id: "identity",
            class: "input input-bordered w-full pl-10 bg-white/10 border-white/20 text-white placeholder-slate-300 focus:border-red-400 focus:outline-none",
            placeholder: "Masukkan NRP/NIP",
            inputmode: 'numeric',
            pattern: '\\d*',
            oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
      </div>
    </label>
  </div>
  <div>
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text text-slate-100">Alamat <span class="italic">E-mail</span></span>
      </div>
      <div role="alert" class="mb-2 rounded-md border border-sky-300/30 bg-sky-100/10 text-sky-200 px-3 py-2">
        <span class="text-xs">Jika setelah daftar kemudian langsung lupa kata sandi, maka kosongkan alamat email.</span>
      </div>
      <div class="relative">
        <span class="pointer-events-none absolute inset-y-0 left-3 flex items-center text-slate-400">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
            <path d="M1.5 6.75A2.25 2.25 0 013.75 4.5h16.5A2.25 2.25 0 0122.5 6.75v.72l-10.5 5.25L1.5 7.47v-.72z"/>
            <path d="M1.5 9.234l9.75 4.875a.75.75 0 00.66 0L21.75 9.234V17.25A2.25 2.25 0 0119.5 19.5H3.75A2.25 2.25 0 011.5 17.25V9.234z"/>
          </svg>
        </span>
        <%= f.email_field :email, autocomplete: "email", id: "email",
          class: "input input-bordered w-full pl-10 bg-white/10 border-white/20 text-white placeholder-slate-300 focus:border-red-400 focus:outline-none",
          placeholder: "Masukkan alamat email" %>
      </div>
    </label>
  </div>
  <div>
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text text-slate-100">Kata Sandi Baru</span>
      </div>
      <div role="alert" class="mb-2 rounded-md border border-amber-300/30 bg-amber-100/10 text-amber-200 px-3 py-2 flex items-start gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shrink-0" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12 2a10 10 0 100 20 10 10 0 000-20zm.75 5.5a.75.75 0 00-1.5 0v6a.75.75 0 001.5 0v-6zM12 17a1 1 0 110 2 1 1 0 010-2z"/>
        </svg>
        <span class="text-xs"><span class="font-bold">JANGAN</span> gunakan kata sandi yang Anda gunakan di Aplikasi Kepegawaian POLRI lainnya</span>
      </div>
      <div class="relative">
        <span class="pointer-events-none absolute inset-y-0 left-3 flex items-center text-slate-400">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 00-5.25 5.25V9H6a3 3 0 00-3 3v6a3 3 0 003 3h12a3 3 0 003-3v-6a3 3 0 00-3-3h-.75V6.75A5.25 5.25 0 0012 1.5zm-1.5 10.5a1.5 1.5 0 113 0v2.25a1.5 1.5 0 11-3 0V12z" clip-rule="evenodd" />
          </svg>
        </span>
        <%= f.password_field :password, autocomplete: "new-password", id: "password",
          class: "input input-bordered w-full pl-10 bg-white/10 border-white/20 text-white placeholder-slate-300 focus:border-red-400 focus:outline-none",
          placeholder: "Masukkan kata sandi baru" %>
      </div>
      <%= f.hidden_field :password_strength, id: "user_password_strength" %>
      <div class="px-1 hidden" id="meter-div">
        <progress id="password-strength-meter" class="progress progress-info w-full" value="0" max="4"></progress>
        <p class="text-sm text-slate-200" id="password-strength-text"></p>
      </div>
    </label>
  </div>
  <div>
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text text-slate-100">Ulang Kata Sandi Baru</span>
      </div>
    <div class="relative">
      <span class="pointer-events-none absolute inset-y-0 left-3 flex items-center text-slate-400">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
          <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 00-5.25 5.25V9H6a3 3 0 00-3 3v6a3 3 0 003 3h12a3 3 0 003-3v-6a3 3 0 00-3-3h-.75V6.75A5.25 5.25 0 0012 1.5zm-1.5 10.5a1.5 1.5 0 113 0v2.25a1.5 1.5 0 11-3 0V12z" clip-rule="evenodd" />
        </svg>
      </span>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "password_confirmation",
        class: "input input-bordered w-full pl-10 bg-white/10 border-white/20 text-white placeholder-slate-300 focus:border-red-400 focus:outline-none",
        placeholder: "Masukkan ulang kata sandi baru" %>
    </div>
    </label>
  </div>
  <div class="mt-2">
    <%= f.submit "Kirim Permintaan", class: "w-full cursor-pointer text-lg font-semibold text-white py-3 rounded-xl bg-gradient-to-r from-red-500 to-rose-500 hover:from-red-600 hover:to-rose-600 shadow-lg shadow-red-900/30" %>
  </div>
<% end %>
